.login_container {
	width: 100%;
	min-height: 100vh;
	/* background-color: #f5f5f5; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	background-color: transparent;
	border-bottom-right-radius: 0.85rem;
	border-bottom-left-radius: 0.85rem;
	width: 80%;
	/* padding: 2rem; */
	/* height: 31.5rem; */
	display: flex;
	/* border-radius: 10px; */
	box-shadow: 0px 0.2rem 0.3rem -0.2rem rgb(0 0 0 / 20%),
		0px 0.3rem 0.4rem 0px rgb(0 0 0 / 14%), 0px 0.1rem 0.8rem 0px rgb(0 0 0 / 12%);
} 

.left {
	padding: 2rem;
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFC09A;
	border-top-left-radius: 0.85rem;
	border-bottom-left-radius: 0.85rem;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 2.25em;
	/* margin-top: 0; */
	line-height: 2;
    font-weight: 700;
	font-family: 'JetBrains Mono', monospace;
	text-align: center;
}

.input {
	outline: none;
	border: none;
	width: 90%;
	padding: 0.85rem;
	border-radius: 0.85rem;
	background-color: #edf5f3;
	font-family: 'JetBrains Mono', monospace;
	margin: 0.35rem 0;
	font-size: 0.9rem;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}
 
.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #DEBDFF;
	border-top-right-radius: 0.85rem;
	border-bottom-right-radius: 0.85rem;
	padding: 2rem;
}

.right h1 {
	margin-top: 0;
	color: rgba(0,0,0,0.729);
    font-family: 'JetBrains Mono', monospace;
	font-size: 2.25em;
	/* margin-top: 0; */
	line-height: 2;
    font-weight: 700;
	align-self: center;
	text-align: center;
}

.white_btn,
.green_btn {
	margin-top: 1rem;
	border: 0.08rem solid rgba(0,0,0,0.729);
	outline: none;
	padding: 0.8rem 0;
	background-color: #DEBDFF;
	border-radius: 1rem;
	width: 9rem;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	color: rgba(0,0,0,0.729);
    font-family: 'JetBrains Mono', monospace;
}

.green_btn {
	/* background-color: #DEBDFF; */
	background-color: #FFC09A;
	color: rgba(0,0,0,0.729);
    font-family: 'JetBrains Mono', monospace;
	/* margin: 0.85rem; */
	margin-top: 2rem;
}

@media screen and (max-width: 615px){
    .login_form_container{
		flex-direction: column;
		margin-top: 5rem;
	}

	.left{
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0.85rem;
		padding: 0px;
	}

	.right{
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0.85rem;
		border-bottom-left-radius: 0.85rem;
		padding: 0px;
	}
	.white_btn,
	.green_btn{
		margin-bottom: 2rem;
	}
}